<h1>Edit A Blog</h1>

<%= form_with model: @blog, method: :patch do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
        <br />
    <%= form.label :content %>
    <%= form.text_field :content %>
        <br />
    <%= form.submit 'Edit Blog' %>
<% end %>
        <br />
 <%= link_to 'back to main page', blogs_path %>

 
